@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;200;300;400;500;600&family=Poppins:wght@100;200;300;400;500;600&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-container {
  margin-left: 70px;
  margin-top: 50px;
}

.title {
  font-size: 50px;
}

.title-container {
  display: flex;
}

.refresh-btn {
  margin-left: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  margin-top: 30px;
}

.scores {
  border: 1px solid black;
  margin-top: 20px;
}

#input-form {
  margin-top: 20px;
}

.scores p {
  border-bottom: 1px solid black;
  padding: 5px;
}

input {
  padding: 3px;
  margin-bottom: 10px;
}

.submit-btn {
  margin-left: 122px;
}
